body {
    margin: 0;
    padding: 0;
    background-image: url('spider.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    padding: 20px; 
}

h1, .mensaje {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: font-size 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, cursor 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

.mensaje {
    font-size: 4em;
    background-color: blue;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.rojo {
    color: #ff0000;
    text-shadow: 2px 2px 6px rgba(255, 0, 0, 0.5);
}